*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  background-color: var(--c-gray-200);
}

body,
textarea,
button {
  padding: 0;
  margin: 0;
  font-family:
    var(--font-suit),
    "Spoqa Han Sans JP",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 0;
  outline: none;

  &:disabled {
    cursor: not-allowed;
  }
}

img {
  user-select: none;
}

*:focus {
  outline: none;
}

*:not(div, input, textarea):focus-visible {
  outline: 1px solid var(--c-roof-orange);
}

input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

figure {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ol {
  margin-top: 0;
}

pre {
  font-family: var(--font-suit);
}

textarea {
  font-family:
    var(--font-suit),
    "Spoqa Han Sans JP",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  resize: none;
  border: 0;
}

// NOTE: Hide scrollbar
* {
  -ms-overflow-style: none; // IE and Edge
  scrollbar-width: none; // Firefox

  &::-webkit-scrollbar {
    display: none; // Chrome
  }
}

*::selection {
  color: var(--c-white);
  background-color: var(--c-roof-orange-65);
}
