/* stylelint-disable property-no-unknown */
/* stylelint-disable selector-pseudo-class-no-unknown */
// NOTE: COMMON
$S_STANDARD_WIDTH: 375px;

$S_BOTTOM_NAVIGATION_HEIGHT: 68px;
$S_CONTENT_WIDTH: 768px;
$S_PAGE_HORIZONTAL_PADDING: 24px;
$S_BOTTOM_SHEET_MIN_HEIGHT: 70%;
$S_BOTTOM_SHEET_MAX_HEIGHT: calc(100% - 48px);
$S_BASE_HEADER_HEIGHT: 64px;
$S_FOOTER_HEIGHT: 448px;

$S_SPACE_GRID_BREAK_POINT: calc($S_PAGE_HORIZONTAL_PADDING * 2 + 280px * 2);
$S_SPACE_FILTER_MOBILE_HEIGHT: 119px;
$S_SPACE_FILTER_DESKTOP_HEIGHT: 75px;

// NOTE: MAIN PAGE
$S_MAIN_CAROUSEL_HEIGHT: 396px;
$S_MAIN_CAROUSEL_PROGRESS_HEIGHT: 4px;

// NOTE: SPACE DETAIL PAGE
$S_SPACE_DETAIL_HEADER_HEIGHT: 66px;
$S_SPACE_DETAIL_CAROUSEL_HEIGHT: 282px;
$S_SPACE_DETAIL_TAB_BAR_HEIGHT: 40px;
$S_SPACE_DETAIL_FOOTER_HEIGHT: 76px;

// NOTE: SPACE DETAIL REVIEW PAGE
$S_SPACE_DETAIL_REVIEW_MENU_HEIGHT: 50px;

// NOTE: CATEGORY PAGE
$S_CATEGORY_TAB_BAR_HEIGHT: 40px;

// NOTE: LOCATION PAGE
$S_LOCATION_CATEGORY_HEIGHT: 52px;
$S_LOCATION_BOTTOM_DRAWER_MIN_HEIGHT: calc($S_BOTTOM_NAVIGATION_HEIGHT + 106px);

// NOTE: REVIEW IMAGE PAGE
$S_REVIEW_IMAGE_BOTTOM_REVIEW_HEIGHT: 152px;
$S_REVIEW_IMAGE_BOTTOM_REVIEW_MAX_HEIGHT: 248px;

// NOTE: SEARCH PAGE
$S_SEARCH_HEADER_HEIGHT: 68px;

:export {
  pageHorizontalPadding: $S_PAGE_HORIZONTAL_PADDING;
  bottomNavigationHeight: $S_BOTTOM_NAVIGATION_HEIGHT;
  contentWidth: $S_CONTENT_WIDTH;
  baseHeaderHeight: $S_BASE_HEADER_HEIGHT;
  mainCarouselHeight: $S_MAIN_CAROUSEL_HEIGHT;
  mainCarouselProgressHeight: $S_MAIN_CAROUSEL_PROGRESS_HEIGHT;
  spaceDetailHeaderHeight: $S_SPACE_DETAIL_HEADER_HEIGHT;
  spaceDetailCarouselHeight: $S_SPACE_DETAIL_CAROUSEL_HEIGHT;
  spaceDetailTabBarHeight: $S_SPACE_DETAIL_TAB_BAR_HEIGHT;
  categoryTabBarHeight: $S_CATEGORY_TAB_BAR_HEIGHT;
  locationCategoryHeight: $S_LOCATION_CATEGORY_HEIGHT;
  locationBottomDrawerMinHeight: $S_LOCATION_BOTTOM_DRAWER_MIN_HEIGHT;
}
