@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(space-between, center, column);
  width: 100%;
  aspect-ratio: 1/1;
  padding: 8px;
  color: var(--c-black);
  box-shadow: rgba(0, 0, 0, 4%) 0 4px 16px 0;
  transition:
    box-shadow 0.25s ease-in 0s,
    transform 0.25s ease-in 0s;

  .imageWrapper {
    position: relative;
    width: 80%;
    aspect-ratio: 1/1;
    overflow: hidden;

    img {
      object-fit: contain;
    }
  }

  .name {
    @include m.fontBody1SemiBold;
    @include m.makeEllipsis;
    display: inline-block;
    width: 100%;
    color: var(--c-gray-800);
    text-align: center;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 8%) 0 12px 20px 0;
    transform: translateY(-8px) scale(1.04);
  }
}
