[data-rsbs-overlay] {
  display: flex;
  flex-direction: column;
  height: 0;
  height: var(--rsbs-overlay-h, 0);
  background: #ffffff;
  background: var(--rsbs-bg, #ffffff);
  border-top-left-radius: 16px;
  border-top-left-radius: var(--rsbs-overlay-rounded, 16px);
  border-top-right-radius: 16px;
  border-top-right-radius: var(--rsbs-overlay-rounded, 16px);
  transform: translate3d(0, 0, 0);
  transform: translate3d(0, var(--rsbs-overlay-translate-y, 0), 0);
  will-change: height;
}

[data-rsbs-overlay]:focus {
  outline: none;
}

[data-rsbs-is-blocking="false"] [data-rsbs-overlay] {
  // box-shadow: 0 -5px 60px 0 rgba(38, 89, 115, 11%), 0 -1px 0 rgba(38, 89, 115, 5%);
}

[data-rsbs-overlay],
[data-rsbs-root]::after {
  width: 100%;
  max-width: 768px;
  margin-right: env(safe-area-inset-right);
  margin-right: var(--rsbs-mr, env(safe-area-inset-right));
  margin-left: env(safe-area-inset-left);
  margin-left: var(--rsbs-ml, env(safe-area-inset-left));
}

[data-rsbs-overlay],
[data-rsbs-backdrop],
[data-rsbs-root]::after {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 50%;
  z-index: 101;
  overscroll-behavior: none;
  touch-action: none;
  user-select: none;
  transform: translateX(-50%);
  -ms-scroll-chaining: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

[data-rsbs-backdrop] {
  top: -60px;
  bottom: -60px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 60%);
  background-color: var(--rsbs-backdrop-bg, rgba(0, 0, 0, 60%));
  opacity: 1;
  will-change: opacity;
}

[data-rsbs-is-dismissable="false"] [data-rsbs-backdrop] {
  cursor: ns-resize;
}

[data-rsbs-root]::after {
  height: 1px;
  pointer-events: none;
  content: "";
  background: #ffffff;
  background: var(--rsbs-bg, #ffffff);
  transform: scale3d(1, 0, 1);
  transform: scale3d(1, var(--rsbs-antigap-scale-y, 0), 1);
  transform-origin: bottom;
  will-change: transform;
}

[data-rsbs-footer],
[data-rsbs-header] {
  flex-shrink: 0;
  padding: 16px;
  cursor: ns-resize;
}

[data-rsbs-header] {
  z-index: 1;
  padding-top: calc(20px + env(safe-area-inset-top));
  padding-bottom: 8px;
  text-align: center;
  user-select: none;
  box-shadow: 0 1px 0 rgba(46, 59, 66, calc(1 * 0.125));
  box-shadow: 0 1px 0 rgba(46, 59, 66, calc(var(--rsbs-content-opacity, 1) * 0.125));
}

[data-rsbs-header]::before {
  position: absolute;
  top: calc(12px + env(safe-area-inset-top));
  left: 50%;
  display: block;
  width: 44px;
  height: 4px;
  content: "";
  background-color: var(--c-gray-300);
  // background-color: hsla(0deg, 0%, 0%, 14%);
  // background-color: var(--rsbs-handle-bg, hsla(0deg, 0%, 0%, 14%));
  border-radius: 2px;
  transform: translateX(-50%);
}

/* stylelint-disable-next-line media-feature-name-no-unknown */
@media (min-device-pixel-ratio: 2), (resolution >= 2dppx) {
  [data-rsbs-header]::before {
    transform: translateX(-50%) scaleY(0.75);
  }
}

[data-rsbs-has-header="false"] [data-rsbs-header] {
  padding-top: calc(12px + env(safe-area-inset-top));
  box-shadow: none;
}

[data-rsbs-scroll] {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  overscroll-behavior: contain;
  user-select: auto;
  -webkit-tap-highlight-color: revert;
  -webkit-touch-callout: revert;
  -ms-scroll-chaining: none;
  -webkit-overflow-scrolling: touch;
}

[data-rsbs-scroll]:focus {
  outline: none;
}

[data-rsbs-has-footer="false"] [data-rsbs-content] {
  padding-bottom: env(safe-area-inset-bottom);
}

[data-rsbs-content] {
  /* The overflow hidden is to ensure any margin on child nodes are included when the resize observer is measuring the height */
  overflow: hidden;
}

[data-rsbs-footer] {
  z-index: 1;
  padding-bottom: calc(16px + env(safe-area-inset-bottom));
  overflow: hidden;
  box-shadow:
    0 -1px 0 rgba(46, 59, 66, calc(1 * 0.125)),
    0 2px 0 #ffffff;
  box-shadow:
    0 -1px 0 rgba(46, 59, 66, calc(var(--rsbs-content-opacity, 1) * 0.125)),
    0 2px 0 var(--rsbs-bg, #ffffff);
}

[data-rsbs-is-dismissable="true"] [data-rsbs-header] > *,
[data-rsbs-is-dismissable="true"] [data-rsbs-scroll] > *,
[data-rsbs-is-dismissable="true"] [data-rsbs-footer] > *,
[data-rsbs-is-dismissable="false"][data-rsbs-state="opening"] [data-rsbs-header] > *,
[data-rsbs-is-dismissable="false"][data-rsbs-state="closing"] [data-rsbs-header] > *,
[data-rsbs-is-dismissable="false"][data-rsbs-state="opening"] [data-rsbs-scroll] > *,
[data-rsbs-is-dismissable="false"][data-rsbs-state="closing"] [data-rsbs-scroll] > *,
[data-rsbs-is-dismissable="false"][data-rsbs-state="opening"] [data-rsbs-footer] > *,
[data-rsbs-is-dismissable="false"][data-rsbs-state="closing"] [data-rsbs-footer] > * {
  opacity: 1;
  opacity: var(--rsbs-content-opacity, 1);
}

[data-rsbs-is-dismissable="true"] [data-rsbs-backdrop],
[data-rsbs-is-dismissable="false"][data-rsbs-state="opening"] [data-rsbs-backdrop],
[data-rsbs-is-dismissable="false"][data-rsbs-state="closing"] [data-rsbs-backdrop] {
  opacity: 1;
  opacity: var(--rsbs-backdrop-opacity, 1);
}

[data-rsbs-state="closed"],
[data-rsbs-state="closing"] {
  /* Allows interactions on the rest of the page before the close transition is finished */
  pointer-events: none;
}
