@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 200px));
  gap: 24px;
  justify-content: center;
  width: 100%;
  margin-top: 50px;

  @include m.mobileOnly {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    margin-top: 40px;
  }
}
